<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Admin Note</title>

  <% include ./partials/head %>


</head>

<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <% include ./partials/header %>
      <% include ./partials/sidebar %>



        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

          <section class="content">
            <form>
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Content</h3>
                  <!-- tools box -->
                  <div class="pull-right box-tools">
                    <!-- <button type="button" class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fa fa-minus"></i>
                  </button> -->
                    <button id="btnSave" class="btn btn-primary">Save</button>

                  </div>
                  <!-- /. tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body pad">

                  <div class="form-group">
                    <label>Title</label>
                    <input id="title" name="title" type="text" class="form-control" placeholder="Title" value="<%= content.title %>">
                  </div>

                  <div class="form-group">
                      <label>Page</label>
                      <select name="page" class="form-control">
                          <option value="HOME" selected>HOME</option>
                          <option value="Second">Second</option>
                      </select>
                    </div>
                  <div class="form-group">
                    <label>Group</label>
                    <select name="group" class="form-control">
                        <option value="HEADER">Header</option>
                        <option value="BodySlite">BodySlite</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label>Image</label>
                    <input id="img" name="img" type="text" class="form-control" placeholder="Image..." value="<%= content.img %>">
                  </div>
                  <textarea id="detail" name="detail" class="textarea" placeholder="Place some text here" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"><%= content.detail %></textarea>

                </div>
              </div>

            </form>
          </section>
        </div>
        <!-- /.content-wrapper -->

  </div>
  <!-- ./wrapper -->

  <% include ./partials/footer %>

</body>

<script>
  $(document).ready(function () {
    $('#btnSave').click(function (e) {
      console.log('Client Save');






      $.post("api/content/save", $("form").serializeObject());

      e.preventDefault();
    });
  });
</script>

</html>